@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""), url("./fonts/roboto-v20-latin-400.woff2") format("woff2"), url("./fonts/roboto-v20-latin-400.woff2") format("woff");
}
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("./fonts/roboto-v20-latin-500.woff2") format("woff2"), url("./fonts/roboto-v20-latin-500.woff2") format("woff");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""), url("./fonts/roboto-v20-latin-700.woff2") format("woff2"), url("./fonts/roboto-v20-latin-700.woff2") format("woff");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: local(""), url("./fonts/roboto-v20-latin-900.woff2") format("woff2"), url("./fonts/roboto-v20-latin-900.woff2") format("woff");
}

:root {
  --main-gray-color: #ddd;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

ul {
  padding-left: 20px;
}

a {
  color: #1f1f8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
}

body > header {
  background: #808080;
  margin-bottom: 20px;
}

body > header a {
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  font-size: 18px;
}

body > header nav {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 20px 0;
  border-top: 4px solid #000;
}

footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav a {
  margin-left: 20px;
}

footer nav time {
  flex-grow: 1;
}

footer nav img {
  height: 40px;
}

.content {
  width: 960px;
  margin: auto;
}

main {
  flex-grow: 1;
}

main header {
  display: flex;
  align-items: center;
}

main header .about {
  text-align: left;
}

main header .contacts ion-icon {
  margin-bottom: -2px;
}

main header .contacts {
  list-style: none;
  line-height: 26px;
  text-align: left;
  padding: 0;
}

main section h2 {
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
}

main section h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--main-gray-color);
  width: 300px;
  transition: width 1s;
}

main section:hover h2::after {
  width: 100%;
}

main section {
  margin-bottom: 50px;
}

main section:last-child {
  border: 0;
}

.avatar {
  border-radius: 50%;
  border-width: 4px;
  border-color: #ddd;
  border-style: solid;
  width: 208px;
}

.experience ul {
  display: flex;
  flex-wrap: wrap;
}
.experience li {
  flex-basis: 50%;
  padding-right: 20px;
}

.two-columns {
  columns: 2;
}

.three-columns {
  columns: 3;
}

code {
  background: #fff9e2;
  border: 1px solid #f7cb3d;
  display: block;
  padding: 20px;
}

.burger {
  display: none;
}

.projects .item {
  display: block;
  margin-bottom: 50px;
  color: #000;
}

.projects .item a:hover img {
  opacity: 0.9;
}

.projects .item ion-icon {
  margin-bottom: -2px;
}

h2 ion-icon {
  font-size: 32px;
  margin-bottom: -7px;
  margin-right: 5px;
}